.password{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1E4178;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password__box{
    background-color: #fff;
    padding: 40px;
    border-radius: 50px;
    margin: 0 10px;
}

.password__box h2{
    color: #153060;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
}

.password__box >p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #828282;
    margin-top: 32px;
}

.password__box form{
    margin-top: 32px;
    display: grid;
    gap: 24px;
}

.password__field{
    display: grid;
    gap: 4px;
    position: relative;
}

.password__field label{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #153060;
}

.password__field input{
    background-color: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 16px 12px;
    outline: none;
    transition: 200ms;
}

.password__field input:focus{
    border-color: #9BADCA;
    background-color: #fff;
}

.password__field #password{
    padding-right: 20%;
}

.password__show{
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 16px;
    bottom: 12px;
}

.password__error p{
    color: #E6845E;
}

.password__submit{
    padding: 18px 32px;
    background-color: #153060;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: 200ms;
}

.password__submit:hover{
    background-color: #1E4178;
}

@media (min-width: 768px){
    .password__box{
        background-color: #fff;
        padding: 80px 60px;
        border-radius: 50px;
        margin: 0 10px;
        width: 100%;
        max-width: 658px;
    }

    .password__logo{
        width: 340px;
        margin-bottom: 40px;
    }

    .password__box h2{
        font-size: 45px;
    }
}